* {
  font-size: Courier New;
  font-family: verdana;
}

body {
  background: #AE67F5;
}
.contenedores{
  height: 453px;
  width: 400px;
  background: whitesmoke ;
  position: relative;
  left: 400px ;
  top: 10px;
  border-radius: 20px;

  }

div h1 {
    left: 70px;
    top: 40px;
    margin: auto;
    position: relative;
    font-family: verdana;
}

.input {
  max-width: 190px;
  height: 44px;
  background-color: #05060f0a;
  border-radius: .5rem;
  padding: 0 1rem;
  border: 2px solid transparent;
  font-size: 1rem;
  transition: border-color .3s cubic-bezier(.25,.01,.25,1) 0s, color .3s cubic-bezier(.25,.01,.25,1) 0s,background .2s cubic-bezier(.25,.01,.25,1) 0s;
}

.label {
  display: block;
  margin-bottom: .3rem;
  font-size: .9rem;
  font-weight: bold;
  color: #05060f99;
  transition: color .3s cubic-bezier(.25,.01,.25,1) 0s;
}

.input:hover, .input:focus, .input-group:hover .input {
  outline: none;
  border-color: #05060f;
}

.input-group:hover .label, .input:focus {
  color: #05060fc2;
}

.input-group {
  position: relative;
  margin:auto;
  right: 50px;
  bottom: -80px;
  left: 50px;

}

.input {
  max-width: 190px;
  height: 44px;
  background-color: #05060f0a;
  border-radius: .5rem;
  padding: 0 1rem;
  border: 2px solid transparent;
  font-size: 1rem;
  transition: border-color .3s cubic-bezier(.25,.01,.25,1) 0s, color .3s cubic-bezier(.25,.01,.25,1) 0s,background .2s cubic-bezier(.25,.01,.25,1) 0s;
}

.label {
  display: block;
  margin-bottom: .3rem;
  font-size: .9rem;
  font-weight: bold;
  color: #05060f99;
  transition: color .3s cubic-bezier(.25,.01,.25,1) 0s;
}

.input:hover, .input:focus, .input-group:hover .input {
  outline: none;
  border-color: #05060f;
}

.input-group:hover .label, .input:focus {
  color: #05060fc2;
}


.input-group2 {
  position: relative;
  margin:auto;
  right: 50px;
  bottom: -100px;
  left: 50px;
  }

button {
    position: relative;
    margin: auto;
    bottom: -133px;
    left: 130px;
    width: 120px;
    height: 50px;
    border-radius: 5px;
  }

button {
  background: #B181E2;
  color: white;
  border:solid 5px #B37DE9;
  transition: 0.3s;
}    


button:hover {
      background: #A448FF;
      border: #8000FF;
}

a {
  position: relative;
  margin: auto;
  bottom: -200px;
  right: 100px;
}